LAB1/build/
LAB1/.vscode/
LAB2/EX1/build/
LAB2/EX1/vscode/
LAB2/EX2/build/
LAB2/EX2/vscode
LAB2/EX3/build/
LAB2/EX3/vscode/
LAB3/EX2/build/
LAB3/EX3/build/
LAB3/EX2/.vscode/
LAB3/EX3/.vscode/
LAB3/EX4/build/
LAB3/EX4/.vscode/
LAB3/EX4/.vscode/
LAB4/EX1/.vscode/
LAB4/EX1/build/
LAB4/EX2/.vscode/
LAB4/EX2/build/
LAB5/esp_idf/build/
LAB5/esp_idf/.vscode/
